.background-image {
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100%;
}
.nav-item {
    margin-right: 35px;
}
.custom-btn {
    position: relative;
    overflow: hidden;
    border: none;
  }
  .custom-btn .btn-image {
    position: absolute;
    opacity: 0;
    transition: 0.4s;
    height: 20%;
    top: 0;
    
  }

  .custom-btn:hover .btn-image {
    opacity: 0.8;
    transform: translate(-65%, -20%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

